@charset "UTF-8";

* {

    margin: 0px;
    padding: 0px;
    letter-spacing:8px;
    font-style: italic;
    -webkit-font-smoothing: none;
    /*-moz-ox-font-smoothing: greyscale;
    */

}

body { 
    background-color: black;
    color: #c79dc0;
    text-align: center;
    overflow-x: hidden;

}

a {
    text-decoration: none;
}

a:link {
    color: #dd8292;
}

a:visited {
    color:hotpink
}

a:hover {
    color:deeppink;
    animation: shine 1s ease-in-out infinite;
}

a:active {
    color:mediumvioletred
}

#shinemintries {
    background-color:#dd8292 ;
    width: 800px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    margin-top: 40px;
    box-shadow: deeppink 0px 5px 10px;
    text-align: center;
    color: whitesmoke;
    padding-top: 40px;
}

h2 {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    clear: both;
}

h5 {
    font-size: 9px;
}

.shine {
    font-size: 9px;
}

.blinkFrame {
    display: block;
    float: left;
    width: 400px;
    font-weight: bold;
}

.shine {
    animation: shine 2s ease-in-out infinite;
    animation-delay: 4s;
}

.yap {
    animation: 2s ease-in-out infinite;
    animation-delay: 4s;

}

.hell2 {
   animation: flicker 1ms infinite alternate;
  background: #111;
  color: red;
  text-shadow: 0 0 3px rgb(0, 17, 255);
}

@keyframes shine {
    50% {
        color: #800075;
        text-shadow: #000000;
    }
}


@keyframes yap {
    50% {
        color: crimson;
        text-shadow: rgb(0, 0, 0);
    }
}

@keyframes hell2 {
  0% { transform: translate(0px, 0px); }
  20% { transform: translate(-1px, 1px); }
  40% { transform: translate(1px, -1px); }
  60% { transform: translate(-2px, 2px); }
  80% { transform: translate(2px, -2px); }
  100% { transform: translate(0px, 0px); }
}

@keyframes flicker {
  0% { opacity: 1; }
  50% { opacity: 0.2; }
  100% { opacity: 1; }
}